/* -----Google Fonts-------
.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
} */


/* helpful resets */
h1, h2, h3, p, a, ul {
    margin: 0;
    padding: 0;
    color: black;
  }
       
body{
    background-image: url("images/background.jpg");
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;  
  }

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

/* end resets */

#container{
    max-width: 1200px;
    margin: auto;
    position: relative;
}

#terminal{
    background-image: url(images/Terminal.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 150px;
    top: 260px;
    width:460px;
    height: 460px;
    border-radius: 5px;
    padding-top: 30px;
    padding-left: 10px;
    font-size: 12px;
}

#terminal p{
    color: white;
    font-size: 12px;
    padding: 5px 0;
}

#terminal label{
    color: white;
}

#terminal input[type=text] {
    background-color:lightgrey;
    color: black;
    width: 30%;
}

#terminal input[type=submit]{
    border-style: outset;
    border-color: #C0C0C0;
    margin: 20px 0;
}

#lyrics{
    background-image: url(images/Lyrics.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 550px;
    top: 110px;
    width: 610px; 
    height: 410px;
    border-radius: 5px;
    padding-top: 30px;
}

#lyrics .title{
    position: absolute;
    top: 20px;
    left: 250px;
    width: clamp(200px, 230px, 300px);
    text-align: center;
    font-size: 12px;
}
#lyrics .title p{
    margin-bottom: 1em;
}

#lyrics .playback{
    position: absolute;
    top: 15px;
    left: 68px;
    font-size: 18px;
}
#lyrics #madlib{
    position: relative;
    top: 70px;
    left: 225px;
    font-size: 12px;
    overflow: scroll;
    max-height: 270px;
    max-width: 355px;
}

#lyrics #madlib p{
    margin-bottom: 1em;
}

img{
    position: absolute;
    max-width: 410px;
    max-height: 310px;
    border-radius: 5px;
}

#cat{
    top: 60px;
    left: 84px;
}

#apartment{
    top: 160px;
    left: 340px;
}

#houseshow{
    top: 220px;
    left: 36px;
}

#miniplayer{
    background-image: url("images/miniplayer.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 814px;
    top: 392px;
    height: 370px;
    width: 260px;
    border-radius: 5px;
    padding-bottom: 50px;
}

#miniplayer #record{
    position: absolute;
    left: 30px;
    top: 40px;
    width: 200px;
}

#miniplayer .title{
    position: absolute;
    top: 290px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(200px, 230px, 300px);
    text-align: center;
    font-size: 12px;
}

#miniplayer .title p{
    margin-bottom: 0.5em;
}

#miniplayer .playback{
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinning {
    animation: spin 3s linear infinite;
}

.paused {
    animation-play-state: paused;
}

.clickable{
    cursor: grab;
}

#playbackButton{
    cursor: pointer;
}