/* Google Fonts

.jacquard-12-regular {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
} */


/* .ibm-plex-sans-<uniquifier> {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */


/* helpful resets */
h1, h2, h3, p, a, ul {
    margin: 0;
    padding: 0;
    color: black;
  }
       
body{
    background-color: #FBF4EC;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal; 
    box-sizing: border-box;    
  }

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

/* end resets */

ul{
   list-style-type: none;
}


h1{
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    padding-top: 100px;
    padding-left: 100px;
}

header h2{
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 24px;
    padding-left: 100px;
}

main div{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #FBF4EC;
}

main div:hover{
    background-color: #2e2e2e;
}

main div:hover h2{
    color: white;
}

main div:hover a{
    color: white;
}

h2{
    font-family: "Jacquard 12", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
}

li{
    margin: 1em 0;
}

footer{
    margin: 0 100px;
}

footer p{
    margin: 1em 0;
}

#banner{
  position: absolute;
  max-width: 1200px;
  max-height: 750px;
  object-fit: contain;
  z-index: -1;
  animation: fadeIn 3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 600px) {
    #container{
        max-width: 1200px;
        margin: auto;
    }

    main{
        display: flex;
        gap: 1em;
        margin: 100px;
    }

    main div{
        padding: 1em;
        flex: 1 1 0;
    }
    
}
