body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-bottom: calc(100svh - 100px);
    overflow: hidden;
}

header {
    height: 100px;
    position: sticky;
    top:0;
    width: 100%;
    background-color: rgba(62, 62, 62, 0.3);
    display: grid;
    place-content: center;
    text-align: center;
}

h1, p {
    margin: 0;
}

#container{
    width: 100%;
    height: 100svh;
    top: 0;
    overflow-y: scroll;
    background-attachment: fixed;
    
}

section {
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    padding-top: 200px;
    height: 100svh;
    display: grid;
    text-align: center;
    transition: all 1s;
}

section p{
    display: none;
}

/* Animating the color change */
.image1 { background-image: url(images/mendocino.JPG); transition: all 1s; background-size:contain; background-repeat: none; background-position: center;} 
.image2 { background-image: url(images/amtrak.jpg); transition: all 1s; background-size: contain; background-repeat: none; background-position: center;} 
.image3 { background-image: url(images/salzburg\,jpg.jpg); transition: all 1s; background-size: contain; background-repeat: none; background-position: center;}
.image4 { background-image: url(images/bates.JPG); transition: all 1s; background-size: contain; background-repeat: none; background-position: center;}
.image5 { background-image: url(images/baybridge.jpg); transition: all 1s; background-size: contain; background-repeat: none; background-position: center;}