/* -----Google Fonts-------
.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
} */


/* helpful resets */
h1, h2, h3, p, a, ul {
    margin: 0;
    padding: 0;
    color: black;
  }
       
body{
    background-image: url("images/background.jpg");
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;  
  }

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

/* end resets */

#container{
    max-width: 1200px;
    margin: auto;
    position: relative;
}

#terminal{
    background-image: url(images/Terminal.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 150px;
    top: 260px;
    width:450px;
    height: 450px;
    border-radius: 5px;
    padding-top: 30px;
}

#lyrics{
    background-image: url(images/Lyrics.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 550px;
    top: 110px;
    width: 600px; 
    height: 400px;
    border-radius: 5px;
    padding-top: 30px;
}

img{
    position: absolute;
    max-width: 400px;
    max-height: 300px;
    border-radius: 5px;
}

#cat{
    top: 60px;
    left: 84px;
}

#apartment{
    top: 160px;
    left: 340px;
}

#houseshow{
    top: 220px;
    left: 36px;
}

#miniplayer{
    background-image: url("images/miniplayer.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 814px;
    top: 392px;
    height: 360px;
    width: 250px;
    border-radius: 5px;
    padding-bottom: 50px;
}